header {
  width: 700px;
  height: 100px;
  margin-left: 100px;
  margin-right: 100px;
  background: black;
  
  }

#picturetext {
  position: absolute;
  top: 88%;
  left: 200px;
  font-size: 37px;
  font-family: 'Abril Fatface', cursive;
}

#picturetext2, #picturetext3 {
  position: absolute;
  top: 90%;
  left: 200px;
  font-size: 70px;
  font-family: 'Abril Fatface', cursive;
}

#picturetext3 {
  top: 105%;
}

img {
  object-fit: cover;
  max-width: 100%;
  max-height: 300px;
}

.column, .firstp {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  font-size:15px;
  color: #222;
  letter-spacing: 0px;
  flex: 50%;
  margin-bottom: 10px;
}

.pict, .quote {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  font-size:15px;
  color: #222;
  letter-spacing: 0px;
  display: flex;
  flex: 30%;
  margin-bottom: 100px;
  margin-right: 20px;
}

h1,h2, blockquote {
  font-family: 'Abril Fatface', cursive;
  color: #222;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size:36px;
}

blockquote::before {
  content: ' ❝ ';
  font-family: 'Abril Fatface', cursive;
  font-size: 36px;
}

.quote {
  background: #222;
  padding: 1px;
}

h3 {
  color: #222;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h4 {
  font-family: 'Abril Fatface', cursive;
  color: #222;
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 0px;
  padding: 0px;
  line-height: 1.5;
}

h5 {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-style: italic;
  font-weight: lighter;
  color: #222;
  margin-top: 0px;
}

ul {
  font-size: 15px;
  color: #222;
}

.firstp{
  font-size: 18px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin-left: 100px;
  margin-right: 100px;
   }